<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="newtest.annotation"/>
      <class name="newtest.annotation1"/>
      <class name="newtest.example"/>
      <class name="newtest.enable"/>
      <class name="newtest.second"/>
      <class name="newtest.first"/>
      <class name="datadrive.dataclass1"/>
      <class name="newtest.Readproperties"/>
      <class name="newtest.piority"/>
      <class name="newtest.Annotations"/>
      <class name="newtest.dataprovider"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
